* {
  font-size: 20px;
  font-family: "Vardana", "Tahoma", sans-serif;
}

#main-page {
  text-align: center;
  background-color: #94b9e4;
}

#main-page ul {
  width: 100%;
  list-style: none;
  margin-left: -40px;
}

#site-header {
  font-size: 50px;
  font-weight: 1000;
  color: rgb(186, 189, 56);
}


a {
  color: #23F;
}

.recipe-header {
  font-size: 45px;
}

.desc-header {
  font-size: 35px;
}

.sub-header {
  font-size: 30px;
  color: rgb(240, 80, 32);
}

.ingredients li {
  font-family: "Courier New", monospace;
  font-weight: 100;
  font-size: 18px;
}

.steps-burritos
 {
  background-color: rgb(146, 150, 88);
  color: #69f319;
  padding: 10px 15px;
}

.steps li {
  font-family: "Georgia", "Times New Roman", serif;
  margin-left: 15px;
}

#burritos {
  color: #96853d;
}

#oatmeal-cookies {
  color: #b6a34e;
}

#tuna-casserole {
  color: #dbcb35;
}

p,
ol,
ul {
  width: 750px;
}

.recipe-links li {
  margin-bottom: 5px;
}

.recipe-img {
  margin-left: 150px;
}